@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/gotham/GothamProMediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/gotham/GothaProBla.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/gotham/GothaProBol.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/gotham/GothaProLig.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/gotham/GothaProLigIta.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/gotham/GothaProMed.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/gotham/GothaProReg.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
