h2,
h3,
span,
p {
  font-family: 'gothamPro';
  color: #fff;
}
h2 {
  font-size: 35px;
}
p {
  font-size: 20px;
}

#root {
  margin: 0;
  padding: 0;
  background-color: #131212;
}
body,
html {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  background-color: black;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
}
